.hits {
  column-gap: 10px;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
}

.counter {
  border: 1px solid #555;
  border-radius: 15px;
  height: 30px;
  width: 30px;
  &:nth-child(5n) {
    background-color: #eee;
  }
}
